
body {

    background-image:url('../background.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #DDE6ED;
    font-family: B Mitra,b Zar !important;
}

.bottomright {
    position: absolute;
    bottom: 6px;
    left: 166px;
    font-size: 18px;
}

h3 {
    padding-right: 3px !important;
}

th {
    font-weight:bolder !important;
    
    text-align: center;
    background-color: #526D82 !important;
    cursor: pointer;
}

table {
    text-align: center;
    color: white !important;
}

tr:nth-child(even) {
    background-color: white;
    color: #27374D;
}


table, th, td {
    border: 2px solid #27374D !important;
}

.btn-outline-dark {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
}

.list_div {
    background-color: #9DB2BF;
    color: black;
}


.pagination {
    display: inline-block;
}

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

        .pagination a.active {
            background-color: #526D82;
            color: white;
            border-radius: 5px;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
            border-radius: 5px;
        }